@{
    ViewData["Title"] = "Tabla de multiplicar";
    
}
<table border="1">
    @for(int i = 1; i < 13; i++)
    {
        <tr>
        @for (int j = 1; j < 11; j++)
            {
                <td style="border:double,black">
                    <p style="text-align:center; font-family:Consolas; padding:5px">@i * @j = @(i * j)</p>
                </td>
            }
        </tr>
    }
    
    
</table>