@{
}

<form method="post">
    <input type="number" id="Id"/>
    @Html.TextBox("Nombre")
    @Html.TextBox("Apellidos")
    @Html.TextBox("Edad")
    <button type="submit" name="Enviar"/>
    </form>