@{
    ViewData["Title"] = "Listado de Productos";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>PS5</li>
    <li>PS4</li>
    <li>PS3</li>
    <li>PS2</li>
    <li>PSX</li>
    <li>XBOX</li>
</ul>
@Html.ActionLink("Volver", "Index", "Home")

