<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Raul</td>
            <td>Romera</td>
        </tr>
        <tr>
            <td>Raul</td>
            <td>Romera</td>
        </tr>
        <tr>
            <td>Raul</td>
            <td>Romera</td>
        </tr>
    </tbody>
</table>
<a routerLink="/formulario" routerLinkActive="active">Abrir formulario</a>
<button (click)="Listado()">Ver listado</button>