@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Estado de la Conexión a la Base de Datos</h2>

    <form method="post" action="@Url.Action("Conexion", "Home")">
        <button type="submit" class="btn btn-primary">Conectar</button>
    </form>
</div>
@if (ViewBag.EstadoConexion != null)
{
    <p><strong>Estado de la conexion:</strong> @ViewBag.EstadoConexion</p>
}
